<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Did you ask for password recovery?</p>
  <p>If it was you, click on link below to reset your password.</p>
  <p>
    <a href="{{link}}">Reset Password</a>
  </p>
  <p>If it was not you, delete this email!</p>
  <p>
    Thank you!
    <br>
    <strong>GoBarber Team</strong>
  </p>
</div>
